<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Node.js handler for Azure App Service -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <!-- Debug rule for Node Inspector -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Static content from public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(css|js|images|fonts|test-interface\.html)(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}{R:2}"/>
        </rule>
        
        <!-- Route all other requests to server.js -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security and performance settings -->
    <security>
      <requestFiltering removeServerHeader="true">
        <!-- Allow large uploads for test results and logs -->
        <requestLimits maxAllowedContentLength="104857600" maxUrl="4096" maxQueryString="2048" />
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
          <add segment=".git"/>
          <add segment="logs"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- IISNode configuration for optimal performance -->
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="web.config;*.js;package.json"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectoryNameSuffix="iisnode"
      debuggingEnabled="false"
      maxLogFileSizeInKB="128"
      appendToExistingLog="false"
      logFileFlushInterval="5000"
      flushResponse="false"
      enableXFF="false" />
    
    <!-- Custom HTTP headers for security -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Static content and MIME types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".log" mimeType="text/plain" />
      <mimeMap fileExtension=".yml" mimeType="text/yaml" />
      <mimeMap fileExtension=".yaml" mimeType="text/yaml" />
    </staticContent>
    
    <!-- Error handling -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Default documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>
